<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta charset="UTF-8">

<title>회원가입</title>
<link crossorigin="anonymous"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Additional CSS Files -->
<link href="/assets/css/fontawesome.css" rel="stylesheet">
<link href="/assets/css/templatemo-cyborg-gaming.css" rel="stylesheet">
<link href="/assets/css/owl.css" rel="stylesheet">
<link href="/assets/css/animate.css" rel="stylesheet">
<link href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
	rel="stylesheet" />


</head>


<body>


	<header class="header-area header-sticky">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
                        <a class="active" href="/">

                        </a>
						<!-- ***** Logo End ***** -->

						<!-- ***** Menu Start ***** -->

					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ***** Header Area End ***** -->
	<style>
.checkbutton {
	margin-left: 17%;
	margin-top: 18%;
	font-size: 14px;
	color: #fff;
	background-color: #4400ff;
	padding: 12px 30px;
	display: inline-block;
	border-radius: 25px;
	border: none;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	transition: all .3s;
	position: relative;
	overflow: hidden;
}

.checkbutton:hover {
	background-color: #fff;
	color: #4400ff;
}

.checkbutton2 {
	float: right;
	font-size: 14px;
	color: #fff;
	background-color: #4400ff;
	padding: 12px 30px;
	display: inline-block;
	border-radius: 25px;
	border: none;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	transition: all .3s;
	position: relative;
	overflow: hidden;
}

.checkbutton:hover2 {
	background-color: #fff;
	color: #4400ff;
}
</style>
	<!-- Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-content">

					<!--action 속성 : form 에 작성한 데이터를 어디로 보낼지 지정-->
					<form action="/member/signup" method="post"
						oninput="validateForm()">
						<!--    name 속성: 서버로 전송할 때 변수 이름의 역할-->
						<a class="active" href="/">
							<h2 class="h2">회원가입</h2>
						</a>

						<br>
						<div class="row">
							<div class="col-10">
								<label for="memberId">아이디&nbsp&nbsp</label><span
									class="error-message1" style="color: red;"></span> <input
									class="form-control" id="memberId" maxlength="20" minlength="8"
									name="memberId" pattern="[a-zA-Z][a-zA-Z0-9]+" required
									type="text">
							</div>
							<div class="col-2">
								<button class="checkbutton" id="overlappedID" type="button">중복확인</button>
							</div>
						</div>
						<span id="olmessage"></span>

						<style>
.olmessagef {
	color: red;
	font-style: italic;
}

.olmessaget {
	color: blue;
	font-style: italic;
}
</style>

						<label for="memberPassword">비밀번호&nbsp&nbsp</label><span
							class="error-message2" style="color: red;"></span> <input
							class="form-control" id="memberPassword" maxlength="20"
							minlength="8" name="memberPassword" required type="password"><br>

                        <label for="inputPasswordCheck">비밀번호확인&nbsp&nbsp</label><span
                            class="error-message2" style="color: red;"></span> <input
                            class="form-control" id="inputPasswordCheck" maxlength="20"
                            minlength="8" name="inputPasswordCheck" required type="password"><br>

                        <div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
                        <div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지 않습니다.</div>

                        <script>

                            (function($) {

                                $(function (){

                                    $("#alert-success").hide();
                                    $("#alert-danger").hide();

                                    $("input").keyup(function() {
                                        var pwd1 = $("#memberPassword").val();
                                        var pwd2 = $("#inputPasswordCheck").val();

                                        if (pwd1 != "" || pwd2 != "") {
                                            if (pwd1 != pwd2) {
                                                $("#alert-success").hide();
                                                $("#alert-danger").show();

                                                $('#submit').click(function() {
                                                    $("#userpw2").focus();
                                                    return false;
                                                });

                                            } else {
                                                $("#alert-success").show();
                                                $("#alert-danger").hide();
                                                return true;
                                            }

                                        }
                                    });

                                });
                            })(jQuery);
                        </script>

						<label for="memberName">이름&nbsp&nbsp</label><span
							class="error-message3" style="color: red;"></span> <input
							class="form-control" id="memberName" maxlength="6" minlength="2"
							name="memberName" pattern="[가-힣]+" required type="text"><br>

						<div class="row">
							<div class="col-10">
								<label for="memberEmail">이메일&nbsp&nbsp</label><span
									class="error-message4" style="color: red;"></span> <input
									class="form-control" id="memberEmail" name="memberEmail"
									required
									pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,6}" type="email"><br>
							</div>
						</div>



						<label for="memberPhoneNumber">전화번호</label> <input
							class="form-control" name="memberPhoneNumber" id="memberPhoneNumber"
							required type="tel"><br>
						
						<label for="memberAddress">주소</label> <input
							class="form-control" name="memberAddress" id="memberAddress"
							required type="text"><br>
						<label for="memberDetailAddress">상세주소</label> <input
							class="form-control" name="memberDetailAddress" id="memberDetailAddress"
							><br>

						<input class="checkbutton2" disabled type="submit" value="회원가입">
					</form>
				</div>
			</div>
		</div>
	</div>
    <style>
        .checkbutton2:disabled{
            opacity: 0.3;
            cursor: default;
        }
    </style>
	<script>
		function validateForm() {
			const form = document.querySelector('form');
			const submitButton = document.querySelector('input[type=submit]');
			const memberId = document.querySelector('#memberId').value;
			const errorMessage1 = document.querySelector('.error-message1');
			const memberPassword = document.querySelector('#memberPassword').value;
			const errorMessage2 = document.querySelector('.error-message2');
			const memberName = document.querySelector('#memberName').value;
			const errorMessage3 = document.querySelector('.error-message3');
			const memberEmail = document.querySelector('#memberEmail').value;
			const errorMessage4 = document.querySelector('.error-message4');

			if (/^[a-zA-Z][a-zA-Z0-9]+$/.test(memberId) && memberId.length >= 6
					&& memberId.length <= 20) {
				errorMessage1.innerHTML = '';
			} else {
				errorMessage1.innerHTML = '아이디는 영어 포함 6~20자 이어야 합니다.';
			}

			if (memberPassword.length >= 8 && memberPassword.length <= 20) {
				errorMessage2.innerHTML = '';
			} else {
				errorMessage2.innerHTML = '8~20자 이어야 합니다.';
			}

			if (/^[\uac00-\ud7a3]{2,6}$/.test(memberName)) {
				errorMessage3.innerHTML = '';
			} else {
				errorMessage3.innerHTML = '이름은 한글 2~6자 이어야 합니다.';
			}
			if (/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,6}$/.test(memberEmail)) {
				errorMessage4.innerHTML = '';
			} else {
				errorMessage4.innerHTML = 'mail 주소를 정확히 입력해 주세요.';
			}

			if (form.checkValidity()) {
				submitButton.disabled = false;

			} else {
				submitButton.disabled = true;
			}
		}

		$('#overlappedID').click(function() {
			var memberId = $('#memberId').val();
			$.ajax({
				url : '/member/idCheck',
				type : 'GET',
				data : {
					id : memberId
				},
				success : function(data) {
					if (data === true) {
						alert('중복되거나 사용할 수 없는 ID입니다.');
					} else {
						alert('사용 가능한 ID입니다.');
					}
				},
				error : function() {
					alert('중복 ID 검사 중 오류가 발생함.');
				}
			});
		});

	</script>

</body>
</html>